body {
  background-color: rgb(241, 248, 255);
}

img {
  color: brown;
  width: 200px;
  border-radius: 25px;
  box-shadow: 0 0 10px 5px black;
}
.pImg {
  width: 400px;
  border-radius: 200px;
  /* half of width for circular image */
  float: left;
  /* forces image to left of text */
  margin-right: 25px;
  margin-top: 25px;
  /* padding for image */
}

p {
  color: #666666;
  font-family: sans-serif;
  font-size: 12px;
}

em {
  color: rgb(224, 16, 16);
  font-style: italic;
}

strong {
  font-style: italic;
  font-weight: bold;
}

h1 {
  color: pink;
  font-family: cursive, Luminari, fantasy;
}

h3 {
  color: green;
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

.chaos {
  color: #ff0000;
  background-color: rgb(255, 215, 215);
  border-radius: 5px;
}

.law {
  color: goldenrod; /* color of text AND border */
  background-color: rgb(254, 255, 251);
}

/* CSS box model */

/*
  margin: push away from things (outside of box)
  border:
  padding: creating space (inside of box)
  
  wary of total width and height
  Margin (2x) + Border (2x) + padding (2x) + box width
*/

.product {
  color: rgb(140, 136, 197);
  text-align: center;
}

.product-box {
  width: max-content;

  border-width: 5px;
  border-color: mintcream;
  border-style: double;
  border-radius: 20%;

  padding: 0 30px 20px 30px;
  /* top right bottom left */
  /* top/bottom left/right when doing 2 values */
}

div {
  background-color: rgb(206, 231, 255);
  margin-left: 20px; /* can change to single line */
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 15px;
  padding-bottom: 1px;
  padding-right: 15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(152, 205, 255);
}
